body {
  margin:0;
  font-family:Inter,sans-serif;
  background:#050510;
  color:white;
}

.fondo{
  position:fixed;
  width:200%;
  height:200%;
  background:linear-gradient(120deg,#0f0c29,#302b63,#24243e);
  animation:fondo 20s infinite;
  z-index:-1;
}

@keyframes fondo {
  0%{transform:translate(0,0)}
  50%{transform:translate(-25%,-25%)}
  100%{transform:translate(0,0)}
}

nav{
  position:fixed;
  width:100%;
  padding:20px;
  background:rgba(0,0,0,.4);
  display:flex;
  justify-content:space-between;
}

.menu a{
  margin:0 10px;
  color:white;
  text-decoration:none;
}

section{
  padding:120px 10%;
  text-align:center;
}

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:25px;
}

.card{
  background:rgba(255,255,255,0.08);
  padding:40px;
  border-radius:20px;
  transition:.4s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 20px cyan;
}

.tags span{
  display:inline-block;
  margin:10px;
  padding:10px 20px;
  border-radius:20px;
  background:rgba(0,255,255,.1);
}

.pricing{
  display:flex;
  justify-content:center;
  gap:30px;
}

.plan{
  background:rgba(255,255,255,.1);
  padding:50px;
  border-radius:30px;
}

.btn{
  background:cyan;
  padding:15px 40px;
  border-radius:30px;
  color:black;
  text-decoration:none;
}

footer{
  padding:30px;
  text-align:center;
  opacity:.6;
}
